<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
<title>Editar Candidato</title>
</head>
<body>
	<div layout:fragment="content">
		<section class="content-header">
		    <h1>Editar Candidato</h1>
		    <ol class="breadcrumb">
		        <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Home</a></li>
		        <li class="active">Candidatos</li>
    		</ol>
		</section>
		<section class="content">
		<pre>
		Mostrar:
		Id (no editable)
		Nombre 
		Puesto al que aplica
		Fecha en que fué creado (No editable)
		Quién lo creó (No editable)
		
		Guardar y enviar al listado
		</pre>
		
		
        </section>
	
	</div>
</body>
</html>